:root {
  --primary-colour: #BB8760;
  --secondary-colour: #FFDADA;
  --font-colour: #FFF1F1;
  --bg-colour: #4F0E0E;
  --opacity1: 100%;
  --blur1: 1px;
  --opacity2: 100%;
  --blur2: 1px;
}

main{
  background-color: var(--bg-colour);
  color: var(--font-colour);
  font-family: 'Carrois Gothic SC', sans-serif;
}

header {
  padding: 1.5rem;
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  padding-bottom: 0;
  font-size: 2rem;
}
h1{
  margin-bottom: 0;
}
.stack-lg > * + * {
  margin-top: 2rem;
}

.controls{
  font-size: 1.5rem;
  display:grid;
  grid-template-columns: 3fr 1fr;
  margin-left: 1em;
  margin-right: 20em;
}

.overlay{

}


.parent {
    position: relative;
    top: 0;
    left: 0;
 
  }
  .image0 {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: absolute;
    top: 0px;
    left: 0px;
     mix-blend-mode: color-burn;
    opacity:var(--opacity1);
    filter:blur(var(--blur1));
  }
  .image2 {
    position: absolute;
    top: 0px;
    left: 0px;
     mix-blend-mode: multiply;
     opacity:var(--opacity2);
     filter:blur(var(--blur2));
    
  }