body {
  background-color: #333;
  font-family: "Pocket Monk";
  font-size: 70px;
}

path {
  fill: black;
}

text {
  fill: #ffcb05;
  text-anchor: middle;
  font-family: "Pocket Monk";
  text-shadow: -1px -1px 0 #2a75bb, 1px -1px 0 #2a75bb, -1px 1px 0 #2a75bb,
    1px 1px 0 #2a75bb;
}
